@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Comfortaa|Kavivanar');



// Global

body {
  font-family: 'Comfortaa', cursive;
}

.card {
  width: 100%;
  border-top-left-radius: 0px;
  border-top: none;
}

#background {
    display: hidden;
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -101;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background-size: cover;
    background-color: black; 
}

.cust-foot {
  text-align: center;
}

// Navbar
.nav-link {
color: white;

}

.nav-tabs {
  border: none;
}

.active {
  color: black;
}

.masthead-brand {
  color: white;
  font-size: 3em;
  text-align: center;
}

.masthead span{
  font-family: 'Kavivanar', cursive;
  font-weight: bolder;
  border-bottom: solid 2px;
  margin-bottom: 5px;
  padding-bottom: 5px;
}


// Home Page
.home-pic {
  width: 100%;
  border-radius: 5px;
  margin: auto;
}

.request-quote{
  padding: auto;
  margin: auto;
  text-align: center;
}

.contact {
  padding: 0px;
  margin: 0;
  text-align: center;
}

.car-cust {
  margin: 25px;
}

.carousel-item em{
  width: 100%;
  text-align: center;
}

.carousel {
  border: solid 0.5px;
  border-radius: 5px;
  border-color: rgba(0,0,0,0.2);
  padding: 15px;
}

// About Me Page

.about-pic {
  width: 100%;
  border-radius: 5px;
}


// Request a Quote Page



// Quotes Index Page



// Responsiveness for Mobile
@media (max-width: 460px) {

.masthead-brand {
  transform: scale(0.9);  
  word-wrap: nowrap;
  flex-wrap: nowrap;
  text-align: center;
}

#background {
    display: none;
}

body {
  background-color: rgb(65, 150, 197)
}
}